{% extends "AppDiario/padre.html" %}
{% load static %}

{% block titulo %}

<h1 class="text-white font-weight-bold"> POST </h1>
                        <hr class="divider" />
{% endblock %}

{% block contenido_que_cambia %}


<button>
<a href="{% url 'nuevoPosteo' %}">Nuevo Posteo</a>
</button>
<br>
{% for posteo in posteo %}

<li>{{ posteo.titulo }}</li>
<li>{{ posteo.descripcion }}</li>
<li>{{ posteo.contenido }}</li>
<li>{{ posteo.publicado }}</li>
<br>
<button>
    <a href="{% url 'eliminarPosteo' posteo.titulo %}">Eliminar</a>
</button>

<button>
    <a href="{% url 'editarPosteo' posteo.titulo %}">Editar</a>
</button>

{% endfor %}




{% endblock %}