{% extends "AppDiario/padre.html" %}
{% load static %}

{% block titulo %}
<h1 class="text-white font-weight-bold">POST</h1>
                        <hr class="divider" />
{% endblock %}

{% block contenido_que_cambia %}

    {% if form.errors %}
    <p style="color:red"> HAY ALGO MAL EN EL FORMULARIO</p>
    {% endif %}

    <h1> CREAR NUEVO POSTEO DE ECONOMIA</h1>

    <form action="/AppDiario/nuevoEconomia/" method="POST"> {% csrf_token %}

        <table>
            {{ form.as_table }}
        </table>

        <p><input type="submit" value="¡Postear!"></p>

    </form>

{% endblock %}