{% extends "AppDiario/padre.html" %}
{% load static %}

{% block titulo %}

<h1 class="text-white font-weight-bold"> USUARIOS </h1>
                        <hr class="divider" />
{% endblock %}

{% block contenido_que_cambia %}


{% for usuario in usuario %}

<li>{{ usuario }}</li>
<button>
    <a href="{% url 'eliminarUsuario' usuario.nombre %}">Eliminar</a>
</button>

<button>
    <a href="{% url 'editarUsuario' usuario.nombre %}">Editar</a>
</button>

{% endfor %}
<br>
<a href="{% url 'usuarios' %}">Agregar</a>



{% endblock %}